.panel {
  box-sizing: border-box;
  display: block;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 10vh 10vw;
  position: relative;
  width: 100vw; }
  .panel .column, .panel .alley {
    display: block;
    float: left;
    min-height: 1vh;
    position: relative; }
  .panel .clear {
    clear: both; }
  .panel .background {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%; }
  .panel .bleed-wrapper {
    overflow: hidden; }
  .panel img {
    width: 100%; }
  .panel .image {
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: relative;
    height: 100%; }

body {
  background-color: #212121;
  color: #212121;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  position: relative; }
  body a, body a:visited {
    color: #212121; }

.panel {
  background-color: whitesmoke; }

.dark {
  background-color: #212121;
  color: whitesmoke; }
  .dark a, .dark a:visited {
    color: whitesmoke; }

.opening-title {
  color: whitesmoke;
  display: block;
  font-size: 17vh;
  letter-spacing: auto;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 100%; }

.headline-instructions {
  color: #212121;
  bottom: 5vh;
  font-size: 15px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0); }

.moon-illustration {
  background-image: url("../images/moon2.png");
  background-position: 50% 57%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -70vh;
  display: block;
  height: 100vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 100vh; }

.headline {
  color: #fbc02d;
  font-size: 5vw;
  line-height: 5vw;
  text-align: right;
  transform: rotate(-1deg);
  width: 100%; }

.subhead {
  background-color: #fbc02d;
  color: whitesmoke;
  padding: 2px;
  text-align: left;
  transform: rotate(1deg); }

.caption, .caption-right, .caption-vertical, .video-caption {
  color: #fbc02d;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: left; }

.caption-vertical {
  position: relative;
  white-space: nowrap; }

.caption-right {
  text-align: right; }

.body-text {
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-align: justify; }

.apollo-video {
  height: 100%;
  width: 100%; }

.video-caption {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 5vh;
  transform: translate(-50%, 0);
  z-index: 10; }

.credit {
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-align: left; }

.imperfectionize:hover {
  cursor: pointer; }
