// Beginning of Column-Flow Section =================

.panel{
  box-sizing: border-box;
  display: block;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 10vh 10vw;
  position: relative;
  width: 100vw;

  .column, .alley{
    display: block;
    float: left;
    min-height: 1vh;
    position: relative;
  }

  .clear{
    clear: both;
  }

  .background{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bleed-wrapper{
    overflow: hidden;
  }

  img{
    width: 100%;
  }
  .image{
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: relative;
    height: 100%;
  }

}

// End of Column-Flow Section =======================


$black: #212121;
$true_black: #000000;
$white: #fafafa;
$red: #F00000;
$blue: #2828DD;

#von_braun{

}

#gagarin{
  transform: translate(-20%, 0);
}

#kennedy{
  transform: translate(-30%, 0);
}

body{
  background-color: #212121;
  color: $black;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  a, a:visited{
    color: #212121;
  }
}

.panel{
  background-color: #fafafa;
}

.black{
  background-color: $true_black;
  color: #fafafa;
}

.dark{
  background-color: #212121;
  color: #fafafa;
  a, a:visited{
    color: #fafafa;
  }
}

.red{
  color: $red;
}

.white{
  color: $white;
}

.blue{
  color: $blue;
}

.opening-title{
  color: $white;
  display: block;
  font-size: 17vh;
  letter-spacing: auto;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 100%;
}

.moon-illustration, .moon-illustration-red, .moon-illustration-blue{
  background-image: url("../images/moon.jpg");
  background-position: 50% 57%;
  background-repeat: no-repeat;
  background-size: 121%;
  border-radius: 50%;
  bottom: -70vh;
  display: block;
  height: 100vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%) rotate(180deg);
  width: 100vh;
  .moon-overlay{
    background-color: $blue;
    border-radius: 50%;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.moon-illustration-red{
  left: 45%
}

.moon-illustration-blue{
  left: 55%
}

.headline{
  color: $blue;
  font-size: 5vw;
  line-height: 5vw;
  text-align: left;
  width: 100%;
  //text-transform: uppercase;
}

.caption{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: px;
  line-height: 22px;
  text-align: left;
}

.caption-right{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: px;
  line-height: 22px;
  text-align: right;
}

.body-text{
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-align: justify;
}

.imperfectionize:hover{
  cursor: pointer;
}
