// Beginning of Column-Flow Section =================

.panel{
  box-sizing: border-box;
  display: block;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding: 10vh 10vw;
  position: relative;
  width: 100vw;

  .column, .alley{
    display: block;
    float: left;
    min-height: 1vh;
    position: relative;
  }

  .clear{
    clear: both;
  }

  .background{
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bleed-wrapper{
    overflow: hidden;
  }

  img{
    width: 100%;
  }
  .image{
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    position: relative;
    height: 100%;
  }

}

// End of Column-Flow Section =======================


$black: #212121;
$true_black: #000000;
$white: #F5F5F5;
$red: #F00000;
$blue: #2828DD;
$yellow: #FBC02D;

body{
  background-color: #212121;
  color: $black;
  display: block;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  a, a:visited{
    color: #212121;
  }
}

.panel{
  background-color: $white;
}

.dark{
  background-color: #212121;
  color: $white;
  a, a:visited{
    color: $white;
  }
}

.opening-title{
  color: $white;
  display: block;
  font-size: 17vh;
  letter-spacing: auto;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 100%;
}

.headline-instructions{
  color: $black;
  bottom: 5vh;
  font-size: 15px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0);
}

.moon-illustration{
  background-image: url("../images/moon2.png");
  background-position: 50% 57%;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -70vh;
  display: block;
  height: 100vh;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0%);// rotate(180deg);
  width: 100vh;
}

.headline{
  //background-color: $yellow;
  color: $yellow;
  font-size: 5vw;
  line-height: 5vw;
  //padding: 0 0 1vh 1vw;
  text-align: right;
  transform: rotate(-1deg);
  width: 100%;
}

.subhead{
  background-color: $yellow;
  color: $white;
  padding: 2px;
  text-align: left;
  transform: rotate(1deg);
}

.caption, .caption-right, .caption-vertical, .video-caption{
  color: $yellow;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-align: left;
}

.caption-vertical{
  position: relative;
  //transform: rotate(90deg);
  white-space: nowrap;
}

.caption-right{
  text-align: right;
}

.body-text{
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-align: justify;
}

.apollo-video{
  height: 100%;
  width: 100%;
}

.video-caption{
  left: 50%;
  position: absolute;
  text-align: center;
  top: 5vh;
  transform: translate(-50%, 0);
  z-index: 10;
}

.credit{
  font-size: 13px;
  letter-spacing: -0.5px;
  line-height: 22px;
  text-align: left;
}

.imperfectionize:hover{
  cursor: pointer;
}
